body {
    color: #40514e;
    margin: 0;
    text-align: center;
}
  

.top-container {
  background-color:#01204E;
  position: relative;
  padding-top: 100px;
  height: 80vh;
}

h1{
  color: #028391;
  font-size: 5rem;
  margin: 50px auto 0px auto ;
  font-family: 'Playwrite IE', sans-serif;
}

h2{
  color: #028391;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;

}

.title-text{
  margin: 50px auto 0px auto;
}

.planet{
  position: relative;
  top: 0px;
  margin: 40px auto 0px auto;
}

.sec-container{
  background-color: #dee7f5;
  height: 80vh;
  position: relative;
}

.Diya{
  height: 200px;
  border-radius: 50%;
  margin: 100px auto 0px auto;
  
}

.hello{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

p{
  margin: 50px auto 0px auto ;
}

.third-container{
  background-color: #dee7f5;
  height: 80vh;
  position: relative;
}

.skills{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 0px;
}

hr {
  border: dotted #5ea0a7 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.learner{
  position: absolute;
  left: 400px;
 
}

.design{
  display: inline-block;
  position: absolute;
  left: 700px;
  margin-top: 20px ;
}

.skill-1{
  margin: 100px auto 0px auto;
  text-align: left;
}

.skill-2{
  margin: 350px auto 0px auto;
  text-align: left;
}

.sleeping{
  position: relative;
  left: 400px;
  border-radius: 50%;
}

.sleep{
  display: inline-block;
  position: absolute;
  left: 700px;
  margin-top: 20px ;
}

.fourth-container{
  background-color: #dee7f5;
  height: 50vh;
  position: relative;
}

.get{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 0px;
  padding-top: 80px;
}

h3{
  color: #028391;
  font-family: "Montserrat", sans-serif;
  font-size: 1.254rem;
  margin: 50px auto;
}

.btn{
  background-color: #028391;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  height: 1500px;
  width: 800px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10%;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.link{
  text-decoration: none;
  color: #028391;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

.bottom-container{
  height: 20vh;
  width: auto;
  background-color: #052c65;
  position: relative;
  margin-top: 100px;
}

.links{
  position: relative;
  top: 40px;
}

.footer{
  margin: 100px;
  color: rgb(201, 199, 199);
}

@media(max-width:980px){
  .top-container{
    height: 40vh;
  }

  .sec-container{
    height: 40vh;
  }

  .third-container{
    height: 40vh;
  }

  .fourth-container{
    height: 20vh;
  }

}
